# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Entornos
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Puppeteer Chromium local
.local-chromium/

# Salidas
dist/
build/

# Archivos temporales
*.tmp
*.swp

# Railway
railway.json
